table
{
	border-collapse: collapse
}
body, input, textarea, select, button, table
{
	font-size: 14px;
	line-height: 1.29em;
	font-family: '나눔고딕', NanumGothic, NG, Helvetica, '돋움', Dotum, Arial, sans-serif;
}
body
{
	-webkit-text-size-adjust: none;
}

/*Contents*/
h1
{
	margin-bottom: 1em
}
fieldset
{
	margin-top: 1em;
	padding: 10px;
	border: 1px solid #000
}
legend
{
	font-weight: bold;
	font-size: 1.1em;
}
table
{
	width: 100%;
	border-top: 2px solid #e31836;
}
th, td
{
	padding: 8px 10px;
	border-bottom: 1px solid #ccc;
}
th
{
	width: 6em;
	border-right: 1px solid #ccc;
	background: #f8f8f8;
	text-align: right;
}
form > div
{
	margin: 20px 0
}
form > div button
{
	padding: 4px 15px 6px;
	border: 2px solid #000;
	background: #f4f4f4;
}
form > div button:hover
{
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5)
}
form > div button[type='submit']
{
	float: right;
	border-color: #e31836;
	font-weight: bold;
}
form > div button[type='submit']:hover
{
	color: #e31836
}
input[required]
{
	border: 3px solid #e31836;
}
input[type="radio"]
{
	vertical-align: -2px
}
label[for="userType_local"]
{
	margin-right: 6em;
}
